header {
    background-color: #50455C;
    color: #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.2rem;
}

.card img {
    height: 100%;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

footer {
    min-height: 17rem;
    background-color: #50455C;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (min-width: 768px) {

    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        width: 100%;
    }
}



@media (min-width: 1200px) {
    .project-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 100%;
    }
}


