

body {
    --main-bg-color: #50455C;
    --pink: #F2386E;
    --orange: #F24938;
    --light-orange: #F26938;
    --purple: #C028F5;
}

/* CSS reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    color: #fff;
    background: linear-gradient(90deg, #e66465, var(--main-bg-color));
}

header nav {
    text-transform: uppercase;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.2rem;
}

.card img {
    padding: 1rem;
    margin: 0 auto;
    width: 80%;
}

.card:hover {
    border-color: var(--main-bg-color);
    box-shadow: 3px 3px 10px grey;
}

.btn-primary {
    background-color: #50455C;
    border: 1px solid #50455C;
}

.btn-primary:hover {
    background: var(--purple);
    border: 1px solid var(--purple);
}


.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1.5rem;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

.icon-copyright {
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 17rem;
    background: linear-gradient(90deg, var(--main-bg-color), #e66465);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.contact-icon {
    height: 2.5rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Search bar */

.project-search {
   box-sizing: border-box;
   outline: none;
   padding: 0.4rem;
   width: 100%;
   height: 100%;
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-search:focus {
    border: 1px solid #50455C;
    outline: none;
    box-shadow: 3px 3px 10px grey;
}


.contact-links li {
    list-style-type: none;
}

/*** Modal ***/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    position: relative;
    top: 3rem;
    margin: 0 auto;
    width: 90%;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal-content h2 {
    margin-bottom: 0;
}

.modal-content p {
    margin-bottom: 0;
}

.close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2rem;
}

.skills-container {
    width: 100%;
}

.progress-bar {
    width: 100%;
    background: rgb(225, 223, 223);
    height: 25px;
    margin-bottom: 1rem;
}

.html {
    width: 70%;
}

.skill {
    background: rgb(226 99 100);
    height: 25px;
}

.css {
    width: 80%;
}

.js {
    width: 60%;
}

.liquid {
    width: 50%;
}

.node {
    width: 40%;
}

.express {
    width: 40%;
}

.git {
    width: 40%;
}

.tailwind {
    width: 30%;
}

.scss {
    width: 40%;
}

.react {
    width: 40%;
}

.vue {
    width: 30%;
}



@media (min-width: 768px) {

    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        width: 100%;
    }

    .modal-content {
        width: 55%;
        padding: 1.5rem;
    }

    .project-search {
        width: 50%;
    }

    .card img {
        width: 60%;
    }

    .skills-container {
        width: 80%;
    }

 


}



@media (min-width: 1200px) {
    .project-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 100%;
    }

    .modal-content {
        width: 40%;
    }

    .project-search {
        width: 40%;
    }

    .card img {
        width: 60%;
    }

    .skills-container {
        width: 60%;
    }


}

@media (min-width: 1400px) {
    .skills-container {
        width: 40%;
    }
}


