header {
    background-color: #50455C;
    color: #fff;
}

/* header nav {
    text-transform: uppercase;
} */

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.2rem;
}

.card img {
    height: 20rem;
    width: 20rem;
    padding: 3rem;
}



.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

.icon-copyright {
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 17rem;
    background-color: #50455C;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.contact-icon {
    height: 2.5rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-links li {
    list-style-type: none;
}



@media (min-width: 768px) {

    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        width: 100%;
    }
}



@media (min-width: 1200px) {
    .project-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 100%;
    }
}


